@import "../../App.scss";

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    &:hover {
      .products__button {
        opacity: 1;
      }
    }
  }

  &__button {
    font-size: 1.8rem;
    color: $primary;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    border: none;
    opacity: 0;
    transition: all 0.3s ease-in;
    &:hover {
      color: $black;
      background-color: $gold;
    }
    &:focus {
      outline: 0.3px solid $primary;
      outline-offset: -3px;
    }
    &:active {
      color: inherit;
    }
  }
}
