@import "../../App.scss";

.discount-bar {
  display: flex;
  justify-content: space-between;
  color: #a5aaaf;
  background: $dark-violet;
  padding: 1em;
  font-weight: 500;

  & ion-icon {
    margin-right: 0.5rem;
  }

  &__sale {
    animation: blink 1.3s infinite alternate ease-out;
    letter-spacing: 1px;
    align-self: center;
    & ion-icon {
      animation: blink 1.3s infinite alternate ease-out;
    }
  }

  & p {
  }

  &__code {
    color: $gold;
    padding: 0.4rem;
    font-weight: 700;
    display: block;
    text-align: right;

    @media (min-width: 768px) {
      margin-left: 1rem;
      display: inline-block;
    }

    & ion-icon {
      color: $light-grey;
      vertical-align: bottom;
    }
  }
  @media (min-width: 768px) {
    justify-content: space-around;
  }
}

@keyframes blink {
  0% {
    color: #8fbe6f;
    text-shadow: -1px -1px 5px #8fbe6f;
  }

  50% {
    color: royalblue;
    text-shadow: -1px -1px 5px royalblue;
  }

  100% {
    color: #cc142d;
    text-shadow: -1px -1px 5px #cc142d;
  }
}
