@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");

//variables

$boxShadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
$light-blue: #c8dcdc;
$light-grey: #a5aaaf;
$dark-violet: #2d2d46;

$primary: #444444;
$black: #141414;
$white: #e1e6e6;
$gold: #a0a000;

// .App {
//   text-align: center;
//   color: $primary;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 100vh;
//   background-color: $white;
// }

// .switch-wrapper {
//   position: relative;
// }
