@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");

//variables

$boxShadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
$light-blue: #c8dcdc;
$light-grey: #a5aaaf;
$dark-violet: #2d2d46;

$primary: #444444;
$black: #141414;
$white: #e1e6e6;
$gold: #a0a000;

.App {
  text-align: center;
  color: $primary;

  &-header {
    background: url(./assets/images/atikh-bana-_KaMTEmJnxY-unsplash.jpg) 50% 20% /
        contain round,
      rgb(200, 200, 200);
    // background-image: url(./assets/images/averie-woodard-4nulm-JUYFo-unsplash.jpg);
    // background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
    box-shadow: $boxShadow;

    @media (min-width: 768px) {
      height: 45vh;
      background-repeat: repeat;
      background-size: contain;
    }

    &__overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #1b191913;
      z-index: 1;
    }

    &__title {
      color: $white;
      background: $black;
      align-self: flex-start;
      padding: 0.2em 0.6em;
      z-index: 200;

      //logo dot
      & span {
        color: orangered;
        margin: 0 0.05em;
      }
      //logo
      & h1 {
        font-size: 3rem;

        @media (min-width: 768px) {
          font-size: 4rem;
        }
      }
    }

    &__nav {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: space-between;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 2;

      & li {
        margin-top: 1rem;
        transition: all 0.3s ease;
        cursor: pointer;

        @media (min-width: 768px) {
          margin-right: 1rem;
          margin-top: 0;
        }

        &:hover {
          color: $white;
          cursor: pointer;
        }
      }

      &--cart,
      &--favourites,
      &--account {
        transition: 0.1s ease;
        & ion-icon {
          padding: 0.2em;
          vertical-align: bottom;
          background-color: #e1e6e6;
          border-radius: 50%;
          z-index: 100;
          transition: 0.1s ease;
        }
        &:hover ion-icon {
          background: $primary;
        }
      }
      @media (min-width: 768px) {
        flex-direction: row;
        align-self: flex-start;
      }
    }
  }
}
